<div class="hero">
    <h1>Edinburgh Indie Gamers</h1>
    <svg viewBox="0 0 150 45" xmlns="http://www.w3.org/2000/svg">
        <text x="7%" y="45%" class="hero__title">Edinburgh</text>
        <text x="16%" y="95%" class="hero__title">Indie Gamers</text>
    </svg>
    <img class="cupid-banner__background" src="assets/images/banners/eig-banner-angels-compressed.svg" alt="Two cupids hold aloft a banner with the tagline" />
    <svg class="cupid-banner__banner" viewBox="0 0 500 60" xmlns="http://www.w3.org/2000/svg">
        <path id="banner-path" fill="none" stroke="none" d="M0,50 Q 225,70 500,-10" />
        <text class="cupid-banner__text">
            <textPath href="#banner-path">
            Story Games | Small Press | Indie RPGs | PbtA
            </textPath>
        </text>
    </svg>
</div>