/* Stylesheet for the Zine index page */

/* Styling for cupid graphic */
.cupid-feature {
  width: 12rem;
  float: right;
  transition: .2s ease-out;
}
@media screen and (min-width: 750px) {
  .cupid-feature {
    transform: translateX(45%);
  }
  .cupid-link:hover img,
  .cupid-link:focus img {
    transform: translateX(45%) scale(1.1) rotate(-5deg);
  }
}